/* Navbar container */
.navbar {
  position: fixed;
  top: 70px;
  left: 0;
  height: 55%;
  width: 60px;
  border-radius: 25px;
  border: #080808;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}

/* Menu items */
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color:  #73c2b5; /* Default text color */
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
 
}

.navbar-item i {
  font-size: 24px;
  margin-bottom: 15px;
  color:  #73c2b5; /* Set icon color to gray */
}

.navbar-item span {
  font-size: 12px;
  text-align: center;
}

.navbar-item:hover {
  color: #a8e7dd; /* Highlight color on hover */
}

.navbar-item:hover i {
  color: #a8e7dd; /* Change icon color on hover */
}

.login-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.login-link:hover {
  color: #c9c7c8;
}
