/* Global Reset */
* {
  margin-left: 10px;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #000;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* App Header */
.app-header {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  align-items: center; /* Center align everything horizontally */
  text-align: center;
  margin-top: 0px; /* Add space at the top */
}

/* Header Content: Logo, 3D, and Shopping */
.header-content {
  display: flex;
  align-items: center; /* Align vertically in the row */
  justify-content: center; /* Center horizontally */
  gap: 15px; /* Space between logo, 3D, and Shopping */
  margin-bottom: 20px; /* Space between header content and search bar */
}

/* Logo */
.logo-image {
  display: flex;
  width: 90px; /* Adjust logo size */
  height: auto;
  margin-right: -12px;
  margin-top: -15px;
  margin-left: 40px;
}

/* Headings */
.app-heading1 {
  font-size: 5rem; /* Size of "3D" */
  font-weight: bold;
  text-transform: uppercase;
  color: #a8e7dd;
  margin: 0;
  margin-top: -15px;
}

.app-heading2 {
  font-size: 2.5rem; /* Size of "Shopping" */
  font-weight: bold;
  text-transform: y;
  color: #a8e7dd;
  margin: 0px;
  margin-top: 12px;
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: center; /* Center the search bar */
  align-items: center; /* Vertically align items */
  position: relative; /* For positioning the search icon */
  width: 580px;
  margin-left: -60px;
  gap: 10px;
  margin-top: -10px;
}

.search-input {
  width: 100%; /* Full width inside the container */
  padding: 10px 40px 10px 12px; /* Space for icon and text */
  border: 1px solid #ccc;
  border-radius: 25px; /* Rounded edges */
  font-size: 16px;
}

.search-icon {
  display: flex;
  position: relative;
  right: 55px; /* Position the icon inside the search bar */
  color: #888;
  font-size: 18px;
  cursor: pointer;
}
/* Right-side Icons */
.right-icons {
  display: flex;
  gap: 20px; /* Space between each icon */
  margin-right: -400px;
  margin-left: 2px;
  align-items: center;
  margin-top: 9px;

}

.icon {
  font-size: 25px;
  color: #73c2b5;
  cursor: pointer;
  transition: color 0.3s;
  
}

.icon:hover {
  color: #a8e7dd; /* Highlight color on hover */
}